/*~ -- Animation -- */
.container-typed{
    display: inline-block;
  }
  .same-typed{
    flex: 1;
  }
  .same-typed::before{
    content: "";
    width: .125rem;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    background-color: white;
  }
  .typed-out{
    overflow: hidden;
    white-space: nowrap;
    animation: 
    typing 10s forwards infinite;
    width: 0;
  }
  @keyframes typing {
    0% {
      width: 0 ;
      display: block;
      position: relative;
    }
    10%{
      width: 418px;
    }
    16.66666%{
      width: 418px;
      position: relative;
      display: block;
    }
    33.2%{
      position: relative;
      display: block;
    }
    33.3333%{ 
      width: 0;
      display: none;
      position: absolute;
    }
    66.6%{ 
      width: 0;
      display: none;
      position: absolute;
    }
    100%{
      width: 0;
      display: none;
      position: absolute;
    }
  }
  .typed-outt{
    overflow: hidden;
    white-space: nowrap;
    animation: 
    typingg 10s forwards infinite; 
    width: 0;
    
  }
  @keyframes typingg {
    0% {
      width: 0;
      display: none;
      position: absolute;
    }
    33.3333%{ 
      width: 0;
      display: none;
      position: absolute;
    }
    33.4%{
        width: 0 ;
      display: block;
      position: relative;
    }
    43.4%{
      width: 325px ;
    }
    50%{
      display: block;
      position: relative;
      width: 325px ;
    }
    66.5%{
      position: relative;
      display: block;
    }
    66.6%{ 
      width: 0;
      display: none;
      position: absolute;
    }
    100%{
      width: 0;
      display: none;
      position: absolute;
    }
  }
  .typed-outtt{
    overflow: hidden;
    white-space: nowrap;
    animation: 
    typinggg 10s forwards infinite; 
    width: 0;
    
  }
  @keyframes typinggg {
    0% {
      width: 0;
      display: none;
      position: absolute;
    }
    66.6%{ 
      width: 0;
      display: none;
      position: absolute;
    }
    66.7%{
        width: 0 ;
      display: block;
      position: relative;
    }
    76.6%{
      width: 290px ;
    }
    83.2%{
      display: block;
      position: relative;
      width: 290px ;
    }
    99.8%{
      position: relative;
      display: block;
    }
    100%{ 
      width: 0;
      display: none;
      position: absolute;
    }
  }
  @media(max-width:1200px){
    .home h1{
      font-size: 37px;
    }
    @keyframes typing {
    0% {
      width: 0 ;
      display: block;
      position: relative;
    }
    10%{
      width: 242px;
    }
    16.66666%{
      width: 242px;
      position: relative;
      display: block;
    }
    33.2%{
      position: relative;
      display: block;
    }
    33.3333%{ 
      width: 0;
      display: none;
      position: absolute;
    }
    66.6%{ 
      width: 0;
      display: none;
      position: absolute;
    }
    100%{
      width: 0;
      display: none;
      position: absolute;
    }
  }
  @keyframes typingg {
    0% {
      width: 0;
      display: none;
      position: absolute;
    }
    33.3333%{ 
      width: 0;
      display: none;
      position: absolute;
    }
    33.4%{
        width: 0 ;
      display: block;
      position: relative;
    }
    43.4%{
      width: 190px ;
    }
    50%{
      display: block;
      position: relative;
      width: 190px ;
    }
    66.5%{
      position: relative;
      display: block;
    }
    66.6%{ 
      width: 0;
      display: none;
      position: absolute;
    }
    100%{
      width: 0;
      display: none;
      position: absolute;
    }
  }
  @keyframes typinggg {
    0% {
      width: 0;
      display: none;
      position: absolute;
    }
    66.6%{ 
      width: 0;
      display: none;
      position: absolute;
    }
    66.7%{
        width: 0 ;
      display: block;
      position: relative;
    }
    76.6%{
      width: 170px ;
    }
    83.2%{
      display: block;
      position: relative;
      width: 170px ;
    }
    99.8%{
      position: relative;
      display: block;
    }
    100%{ 
      width: 0;
      display: none;
      position: absolute;
    }
  }
  }
  